{% import "forms.twig" as forms %}

{% extends "layout.twig" %}

{% block content %}
<h1 class="title">Anmelden</h1>
<div class="columns">
    <form class="column is-one-third-tablet is-one-quarter-desktop"  action="" method="post" accept-charset="utf-8">
        {{ forms.text(_context, 'username', 'Benutzername', POST.username, 'text', { maxlength: 100 }) }}
        {{ forms.text(_context, 'password', 'Passwort', null, 'password', { maxlength: 100 }) }}

        <p class="control">
            <button class="button is-primary">Anmelden</button>
        </p>
    </form>
</div>

<hr>

<a class="button" href="{{ path('register') }}">Ich habe noch kein Konto</a>
{% endblock %}
