{% import "forms.twig" as forms %}

{% extends "layout.twig" %}

{% set title = 'Registrieren' %}

{% block content %}
<h1 class="title">Registrieren</h1>

<div class="columns">
    <form class="column is-one-third-tablet is-one-quarter-desktop" action="" method="post" accept-charset="utf-8">
        {{ forms.text(_context, 'fullname', 'Name', POST.fullname, 'text', { maxlength: 255 }) }}
        {{ forms.text(_context, 'username', 'Benutzername', POST.username, 'text', { maxlength: 100 }) }}
        {{ forms.text(_context, 'password', 'Passwort', null, 'password', { maxlength: 100 }) }}
        {{ forms.text(_context, 'email', 'E-Mail <small>(optional)</small>', POST.email, 'email', { maxlength: 255 }) }}
        {{ forms.text(_context, 'ircnick', 'IRC Nickname <small>(optional)</small>', POST.ircnick, 'text', { maxlength: 255 }) }}
        {{ forms.text(_context, 'phone', 'Telefonnummer / Durchwahl <small>(optional)</small>', POST.phone, 'tel', { maxlength: 100 }) }}

        <p class="control">
            <button class="button is-primary">Registrieren</button>
        </p>
    </form>
</div>

<hr>

<a class="button" href="{{ path('login') }}">Ich habe schon ein Konto</a>

<script type="text/javascript">
    $("#form-fullname").blur(function() {
        var $this = $(this),
            $username = $("#form-username");

        if (!$username.val()) {
            var nameSlug = $this.val()
                .toLowerCase()
                .replace(/\s+/g, "_")
                .replace(/[^\w-]/g, "")
                .replace(/^[^a-z]/, "");

            $username.val(nameSlug);
        }
    });
</script>
{% endblock %}
