a.is-brand {
    color: darkorange;
    font-size: 1.5rem;
    text-transform: uppercase;
}

a.is-brand img {
    padding-right: 0.5em;
}

.label small {
    font-weight: normal;
}

.flashes {
    position: fixed;
    top: 3.5rem;
    right: 0;
    max-width: 320px;
    z-index: 9999;
}

.flashes .notification {
    margin: 1.5rem;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
