{% extends "layout.twig" %}

{% block header %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Verwaltung</h1>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container">
            <div class="tabs is-boxed">
                <ul>
                {% for item in subnav.getItems %}
                    <li class="{{ item.is_active ? 'is-active' : '' }}">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
