{% extends "Admin/base.twig" %}

{% set title = 'Verwaltung - Benutzer' %}

{% block content %}
<h3 class="title">Benutzer</h3>
<form action="" method="post" accept-charset="utf-8">
    <table class="table">
        <thead>
            <tr>
                <th>Benutzername</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>IRC Nick</th>
                <th>Telefon</th>
                <th>Inaktiv</th>
                <th>Admin</th>
                <th>Kassenwart</th>
                <th>Bestellwürde</th>
            </tr>
        </thead>
        <tbody>
        {% for user in approved_users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.ircnick }}</td>
                <td>
                    {% if USER.is_admin %}
                    <input type="tel" name="{{ user.id }}[phone]" value="{{ user.phone }}">
                    {% else %}
                    {{ user.phone }}
                    {% endif %}
                </td>
                <td class="is-narrow"><input type="checkbox" name="{{ user.id }}[is_hidden]" {{ user.is_hidden ? 'checked' : '' }} {{ USER.is_admin and USER.id != user.id ? '' : 'disabled' }}></td>
                <td class="is-narrow"><input type="checkbox" name="{{ user.id }}[is_admin]" {{ user.is_admin ? 'checked' : '' }} {{ USER.is_admin and USER.id != user.id ? '' : 'disabled' }}></td>
                <td class="is-narrow"><input type="checkbox" name="{{ user.id }}[is_treasurer]" {{ user.is_treasurer ? 'checked' : '' }} {{ USER.is_admin ? '' : 'disabled' }}></td>
                <td class="is-narrow"><input type="checkbox" name="{{ user.id }}[can_order]" {{ user.can_order ? 'checked' : '' }} {{ USER.is_admin ? '' : 'disabled' }}></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if USER.is_admin %}
    <p class="control">
        <button class="button is-primary">Speichern</button>
    </p>
    {% endif %}
</form>

{% if USER.is_admin and unapproved_users | length > 0 %}
<hr>

<h4 class="title is-4">Benutzer freischalten</h4>
<form action="" method="post" accept-charset="utf-8">
<table class="table">
    <thead>
        <tr>
            <th>Benutzername</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>IRC Nick</th>
            <th>Telefon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for user in unapproved_users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.fullname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.ircnick }}</td>
            <td>{{ user.phone }}</td>
            <td class="is-narrow">
                <button class="button is-small is-success" name="{{ user.id }}[approve]" title="Freischalten">
                    <span class="icon is-small"><i class="fa fa-thumbs-up"></i></span>
                </button>
                <button class="button is-small is-danger" name="{{ user.id }}[decline]" title="Ablehnen">
                    <span class="icon is-small"><i class="fa fa-thumbs-down"></i></span>
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</form>
{% endif %}
{% endblock %}
