{% extends "Admin/base.twig" %}

{% set title = 'Verwaltung - Lieferanten löschen' %}

{% block content %}
<h4 class="title is-4">Bist du sicher, dass du den Lieferanten <strong>{{ supplier.name }}</strong> löschen möchtest?</h4>
<div class="columns">
    <div class="column is-half">
        <article class="message is-danger">
            <div class="message-body">
                Nach dem Löschen kann der Lieferant nicht wiederhergestellt werden.<br>
                Alle verbundenen Bestellungen werden dadurch invalide.
            </div>
        </article>
    </div>
</div>
<form action="" method="post" accept-charset="utf-8">
    <div class="control is-grouped">
        <p class="control">
            <button class="button is-danger">Löschen</button>
        </p>
        <p class="control">
            <a class="button" href="{{ path('suppliers_list') }}">Abbrechen</a>
        </p>
    </div>
</form>
{% endblock %}
