{% import "forms.twig" as forms %}

{% extends "Admin/base.twig" %}

{% set title = 'Verwaltung - Lieferanten - ' ~ (is_editing ? 'Bearbeiten' : 'Hinzufügen') %}

{% block content %}
<h3 class="title">
    {% if is_editing %}
    Lieferanten bearbeiten
    {% else %}
    Neuen Lieferanten hinzufügen
    {% endif %}
</h3>

<div class="columns">
    <form class="column is-one-third-tablet is-one-quarter-desktop" action="" method="post" accept-charset="utf-8">
        {% if is_editing %}{{ forms.checkbox(_context, 'is_hidden', 'Inaktiv', POST.is_hidden) }}{% endif %}
        {{ forms.text(_context, 'name', 'Name', POST.name, 'text', { maxlength: 255 }) }}
        {{ forms.text(_context, 'website', 'Webseite', POST.website, 'url', { maxlength: 255 }) }}
        {{ forms.text(_context, 'phone', 'Telefonnummer', POST.phone, 'tel', { maxlength: 100 }) }}
        {{ forms.text(_context, 'fax', 'Faxnummer', POST.fax, 'tel', { maxlength: 100 }) }}
        {{ forms.checkbox(_context, 'can_deliver', 'Liefert', POST.can_deliver) }}
        {{ forms.memo(_context, 'remarks', 'Bemerkungen', POST.remarks) }}

        <div class="control is-grouped">
            <p class="control">
                <button class="button is-primary">{{ is_editing ? 'Speichern' : 'Hinzufügen' }}</button>
            </p>
            <p class="control">
                <a class="button" href="{{ path(is_editing ? 'suppliers_show' : 'suppliers_list', { id: supplier.id }) }}">Abbrechen</a>
            </p>
        </div>
    </form>
</div>
{% endblock %}
