{% extends "Admin/base.twig" %}

{% set title = 'Verwaltung - Lieferanten' %}

{% block content %}
<h3 class="title">
    Lieferanten
    {% if USER.is_admin %}
    <a class="button is-primary is-pulled-right" href="{{ path('suppliers_new') }}">
        <span class="icon"><i class="fa fa-plus"></i></span>
        <span>Hinzufügen</span>
    </a>
    {% endif %}
</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Anmerkungen</th>
            <th>Webseite</th>
            <th>Telefon</th>
            <th>Fax</th>
            <th>Inaktiv</th>
            <th>Liefert</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for supplier in suppliers %}
        <tr>
            <td>
                <a href="{{ path('suppliers_show', { id: supplier.id }) }}">{{ supplier.name }}</a>
            </td>
            <td>{{ supplier.remarks | striptags | truncate(30, false, "…") }}</td>
            <td>
                {% if supplier.website %}
                <a href="{{ supplier.website }}">{{ supplier.website }}</a>
                {% endif %}
            </td>
            <td>{{ supplier.phone }}</td>
            <td>{{ supplier.fax }}</td>
            <td class="is-narrow"><input type="checkbox" {{ supplier.is_hidden ? 'checked' : '' }} disabled></td>
            <td class="is-narrow"><input type="checkbox" {{ supplier.can_deliver ? 'checked' : '' }} disabled></td>
            <td class="is-narrow">
                <a class="button is-small is-primary" href="{{ path('suppliers_show', { id: supplier.id }) }}" title="Anzeigen">
                    <span class="icon is-small"><i class="fa fa-folder-open"></i></span>
                </a>
                {% if USER.is_admin %}
                <a class="button is-small is-primary" href="{{ path('suppliers_edit', { id: supplier.id }) }}" title="Bearbeiten">
                    <span class="icon is-small"><i class="fa fa-pencil"></i></span>
                </a>
                <a class="button is-small is-danger is-outlined" href="{{ path('suppliers_delete', { id: supplier.id }) }}" title="Löschen">
                    <span class="icon is-small"><i class="fa fa-trash"></i></span>
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
