{% extends "Admin/base.twig" %}

{% set title = 'Verwaltung - Lieferanten - ' ~ supplier.name %}

{% block content %}
<h3 class="title">
    {{ supplier.name }}
    {% if USER.is_admin %}
    <div class="is-pulled-right">
        <a class="button is-primary" href="{{ path('suppliers_edit', { id: supplier.id }) }}" title="Bearbeiten">
            <span class="icon"><i class="fa fa-pencil"></i></span>
        </a>
        <a class="button is-danger is-outlined" href="{{ path('suppliers_delete', { id: supplier.id }) }}" title="Löschen">
            <span class="icon"><i class="fa fa-trash"></i></span>
        </a>
    </div>
    {% endif %}
</h3>
{% endblock %}
