{% macro text(context, name, title, value = "", type = "text", attrs = null) %}
    <label class="label" for="form-{{ name }}">{{ title | raw }}</label>
    <p class="control">
        <input class="input{{ context.errors[name] ? ' is-danger' : '' }}" type="{{ type }}" id="form-{{ name }}" name="{{ name }}" value="{{ value }}"{% for attr, attrValue in attrs %} {% if attrValue is same as(true) %}{{ attr }}{% else %}{{ attr }}="{{ attrValue }}"{% endif %}{% endfor %}>
        {% if context.errors[name] %}<span class="help is-danger">{{ context.errors[name] | nl2br }}</span>{% endif %}
    </p>
{% endmacro %}

{% macro memo(context, name, title, value = "", attrs = null) %}
    <label class="label" for="form-{{ name }}">{{ title | raw }}</label>
    <p class="control">
        <textarea class="textarea{{ context.errors[name] ? ' is-danger' : '' }}" id="form-{{ name }}" name="{{ name }}">{{ value }}</textarea>
        {% if context.errors[name] %}<span class="help is-danger">{{ context.errors[name] | nl2br }}</span>{% endif %}
    </p>
{% endmacro %}

{% macro checkbox(context, name, title, value = false, attrs = null) %}
    <p class="control">
        <label class="checkbox">
            <input type="checkbox" id="form-{{ name }}" name="{{ name }}"{{ value ? ' checked' : '' }}{% for attr, attrValue in attrs %} {% if attrValue is same as(true) %}{{ attr }}{% else %}{{ attr }}="{{ attrValue }}"{% endif %}{% endfor %}>
            {{ title | raw }}
        </label>
    </p>
{% endmacro %}

{% macro radio(context, name, options, value = null, attrs = null) %}
    <p class="control">
    {% for optionValue, optionTitle in options %}
        <label class="radio">
            <input type="radio" name="{{ name }}" value="{{ optionValue }}"{{ optionValue == value ? ' checked' : ''}}>
            {{ optionTitle | raw }}
        </label>
    {% endfor %}
    </p>
{% endmacro %}
