<!DOCTYPE html>
<html>
    <head>
        <title>Phood{{ title ? ' - ' ~ title : '' }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('css/bulma.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    </head>
    <body>
        <div class="flashes">
        {% for flash in flashes %}
            <div class="notification {{ flash.category == 'success' ? 'is-success' : flash.category == 'error' ? 'is-danger' : 'is-info' }}">
                <button class="delete"></button>
                {{ flash.message | nl2br }}
            </div>
        {% endfor %}
        </div>

        <nav class="nav">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item is-brand" href="{{ path('home') }}">
                        <img src="{{ asset('img/schaf.gif') }}">
                        Phood
                    </a>
                </div>
                {% set navItems = nav.getItems %}
                {% if navItems | length > 0 %}
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div class="nav-right nav-menu">
                {% for item in navItems %}
                    <a class="nav-item {{ item.is_active ? 'is-active' : '' }}" href="{{ item.url }}" title="{{ item.title }}">
                        {% if item.icon %}
                        <span class="icon {{ item.icon_only ? ' is-hidden-mobile' : '' }}">
                            <i class="fa {{ item.icon }}"></i>
                        </span>
                        {% endif %}
                        <span class="{{ item.icon_only ? 'is-hidden-tablet' : '' }}">{{ item.title }}</span>
                    </a>
                {% endfor %}
                </div>
                {% endif %}
            </div>
        </nav>

        {% block header %}{% endblock %}

        <main class="section">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
    </body>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
</html>
