{% import "forms.twig" as forms %}

{% extends "layout.twig" %}

{% set title = 'Profil Bearbeiten' %}

{% block header %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-2">Profil Bearbeiten</h1>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<h3 class="title">Persönliche Daten</h3>

<div class="columns">
    <form class="column is-one-third-tablet is-one-quarter-desktop" action="" method="post" accept-charset="utf-8">
        {{ forms.text(_context, 'username', 'Benutzername', POST.username, 'text', { maxlength: 100 }) }}
        {{ forms.text(_context, 'fullname', 'Name', POST.fullname, 'text', { maxlength: 255 }) }}
        {{ forms.text(_context, 'email', 'E-Mail', POST.email, 'email', { maxlength: 255 }) }}
        {{ forms.text(_context, 'ircnick', 'IRC Nickname', POST.ircnick, 'text', { maxlength: 255 }) }}
        {{ forms.text(_context, 'phone', 'Telefonnummer / Durchwahl', POST.phone, 'tel', { maxlength: 100 }) }}

        <p class="control">
            <button class="button is-primary">Speichern</button>
        </p>
    </form>
</div>

<hr>

<h3 class="title">Passwort ändern</h3>

<div class="columns">
    <form class="column is-one-third-tablet is-one-quarter-desktop" action="" method="post" accept-charset="utf-8">
        {{ forms.text(_context, 'password', 'Neues Passwort', null, 'password', { maxlength: 100, autocomplete: 'new-password' }) }}
        {{ forms.text(_context, 'password_confirm', 'Passwort wiederholen', null, 'password', { maxlength: 100, autocomplete: 'new-password' }) }}

        <p class="control">
            <button class="button is-primary" name="change_password">Ändern</button>
        </p>
    </form>
</div>
{% endblock %}
